.title
{
position:absolute;
font-size:30px;
font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
left:600px;
text-align:center;
text-shadow: 2px 2px 8px #FF0000;

}
.date
{
	position:absolute;
	font-size: 20px;
	
    font-family: Geneva, Tahoma, Verdana, sans-serif;
	text-align:center;
	
	top:90px;
	left:1200px;
}
.block1
{
position:absolute;
	font-size: 30px;
	background-color:#FFFF00;
    opacity: 0.75;
	height: 40px;
	width:150px;
	text-align:center;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
	top:130px;
	left:100px;
	border-width:5px;	
    border-style:ridge;
	display:inline-block;
	}
	
.block2
{
position:absolute;
	font-size: 30px;
	background-color: #FFFF00;
    opacity: 0.75;
	height: 40px;
	width:150px;
	text-align:center;
	padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
	top:130px;
	left:300px;
	border-width:5px;	
    border-style:ridge;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	}
.block3
{
position:absolute;
	font-size: 24px;
	
	font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
	top:130px;
	left:750px;
	
	}
.block4
{
position:absolute;
	font-size: 30px;
	background-color: #FFFF00;
    opacity: 0.75;
	height: 40px;
	width:150px;
	text-align:center;
	padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
	top:130px;
	left:1000px;
	border-width:5px;	
    border-style:ridge;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	}
.block5
{
position:absolute;
	font-size: 30px;
	background-color: #FFFF00;
    opacity: 0.75;
	height: 150px;	
	width: 500px;
	text-align:center;
	padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
	top:260px;
	left:100px;
	border-width:5px;	
    border-style:ridge;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	}
#demo
{
    position:absolute;
	font-size: 12px;
	background-color: #FFFF00;
    opacity: 0.75;
	height: 80px;	
	width: 100px;
	text-align:center;
	padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
	top:120px;
	left:1200px;
	
}

.block{
	font-size: 30px;
	color:#A00000;
    text-shadow: 0 0 3px #FF0000;

}
body{
	background: url(Shades_of_blue.jpg)no-repeat center center fixed; ;
	

}
